---
layout: base.njk
title: Contact
---

<div class="prose prose-lg max-w-none">
    <h1 class="text-xl font-bold font-bodoni text-gray-900 mb-8">Contact</h1>
    
    <div class="bg-white rounded-lg shadow-sm p-8 mb-8">
        <h2 class="text-2xl font-semibold text-gray-900 mb-6">Get in Touch</h2>
        <p class="text-gray-600 mb-6">
            If you're interested in my work and want to reach out, you can  reach me via email or social media. Hit my inbox at <b>ncdove at protonmail dot com</b>, or you can give me a follow and message me on <a href="https://twitt>er.com/manabovetown">X</a> (formerly Twitter) or <a href="https://instagram.com/manabovetown">Instagram</a>.
        </p>
    </div>
</div> 