@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'EB Garamond', serif;
    font-size: 14px;
  }
  
  p {
    line-height: 1.4;
    margin-bottom: 0.75em;
  }
}

@layer components {
  .nav-link {
    @apply text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-200;
  }
  
  .nav-link.active {
    @apply text-blue-600 bg-blue-50;
  }
} 