@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'EB Garamond', serif;
    font-size: 14px;
  }
  
  p {
    line-height: 1.4;
    margin-bottom: 0.75em;
  }
}

@layer components {
  .nav-link {
    color: rgb(79, 79, 79);
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
  
  .nav-link:hover {
    color: rgb(17 24 39);
    background-color: rgb(243, 243, 242);
  }
  
  .nav-link.active {
    color: rgb(79, 79, 79);;
    background-color: rgb(243, 243, 242);
  }

  /* Custom Google Font Classes */
  .font-bodoni {
    font-family: 'Bodoni Moda', serif;
  }

  .fade-up {
    @apply opacity-0 translate-y-4 delay-[300ms] duration-[600ms] taos:opacity-[100] taos:-translate-y-4;
  }
} 

@custom-variant taos (&.taos-init:where(:not(.taos-animate)));

html.js :where([class*="taos:"]:not(.taos-init)) {
  visibility: hidden;
}

@source inline('!duration-[0ms] !delay-[0ms]');